<div class="card-columns">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title text-info">ULSERAS VASCULARES</h5>
    </div>
    <img src="../../../assets/img/servicios/ulceravascular.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Leer Mas</button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <img src="../assets/img/logo.png" alt="">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3 class="text-info"><strong>ULCERAS VASCULARES</strong></h3>
                  <p>
                    Herida en la pierna o el tobillo provocada por venas anormales o dañadas.
                    Las úlceras venosas ocurren debido a un funcionamiento anormal de las venas. La tendencia a presentar venas anormales puede ser hereditaria. Las causas más comunes de daño en las venas son los coágulos en la sangre, las lesiones, la edad avanzada y la obesidad.
                    Los síntomas incluyen hinchazón, dolor y cansancio en las piernas. Generalmente, el sarpullido irritado y de color rojizo en la piel se transforma en una herida abierta.
                    El tratamiento incluye elevación de las piernas, compresión y cuidado de las heridas. Algunas veces se necesita cirugía.
                  </p>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
      </div>

    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5 class="card-title text-info"> {{ 'Ulceras por presión' | uppercase }}</h5>
    </div>
    <img src="../../../assets/img/servicios/ulcerapresion.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ulcerapresion">Leer Mas</button>
          <div class="modal fade" id="ulcerapresion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <img src="../assets/img/logo.png" alt="">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3 class="text-info"><strong>{{ 'Ulceras por presión' | uppercase }}</strong></h3>
                  <p>
                    Las úlceras por presión son áreas de piel lesionada por permanecer en una misma posición durante demasiado tiempo. Comúnmente se forman donde los huesos están más cerca de la piel, como los tobillos, los talones y las caderas.
                  </p>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title text-info">{{ 'Ostomias' | uppercase }}</h5>
    </div>
    <img src="../../../assets/img/servicios/ostomias.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ostomias">Leer Mas</button>
          <div class="modal fade" id="ostomias" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <img src="../assets/img/logo.png" alt="">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3 class="text-info"><strong>{{ 'Ostomias' | uppercase }}</strong></h3>
                  <p>
                    Su bolsa de ostomía es una bolsa plástica de alta resistencia que usted lleva puesta por fuera del cuerpo para recolectar las heces. Usar una bolsa de ostomía es la mejor manera de manejar las deposiciones después de ciertos tipos de cirugía en el colon o el intestino delgado.
                  </p>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
      </div>

    </div>
  </div>
  </div>

  <div class="card-columns">
    <div class="card"></div>
    <div class="card">
      <div class="card-header">
        <h5 class="card-title text-info">{{ 'Todo tipo de heridas contaminadas' | uppercase }}</h5>
      </div>
      <img src="../assets/img/servicios/servicio1.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#heridas">Leer Mas</button>
            <div class="modal fade" id="heridas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <img src="../assets/img/logo.png" alt="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h3 class="text-info"><strong>{{ 'Todo tipo de heridas contaminadas' | uppercase }}</strong></h3>
                    <p>como saber si la herida esta contaminada?</p>
                    <br>
                    <ul>
                      <li>1. Mal olor procedente de la herida.</li>
                      <li>2. Fiebre, escalofríos.</li>
                      <li>3. Está caliente al tacto.</li>
                      <li>4. Enrojecimiento.</li>
                      <li>5. Dolor o molestia al tocarse.</li>
                    </ul>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
        </div>

      </div>
    </div>
    <div class="card"></div>
    </div>

