            .img_prod {
                width: 450px;
                height: 300px;
            }
            
            .contenido {
                background-color: rgb(14, 14, 15);
            }
            
            .paginc {
                background-color: #da732f !important;
            }