<app-menu></app-menu>


<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <a class="navbar-brand" href="#"><img class="logo ml-5 pl-1 text-center rounded-circle" src="../assets/img/logoi.jfif" alt=""></a>
            <h3>Creación de Productos</h3>
            <p>Creación de Productos para la tienda.</p>
            <input type="submit" name="" value="Volver" routerLink="/gestorAdmin" /><br/>
        </div>
        <div class="col-md-9 register-right">

            <div class="tab-content" id="myTabContent">
                <form [formGroup]="Form" class="login100-form validate-form" (ngSubmit)="guardarcategoria()">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Internacional de papeleria y suministros S.A.S</h3>
                        <div class="row register-form">
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nombre de la categoria" value="" formControlName="name" />
                                </div>
                                <div class="form-group">
                                    <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Descripción de la categoria" formControlName="descrip"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="">Estado</label>
                                    <select class="form-control" name="" formControlName="estado">
                                <option value="0">Activo</option>
                                <option value="1">Inactivo</option>
                               </select>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-warning btn-lg btn-block" *ngIf="Form.valid">Guardar</button>
                                </div>

                                <div class="alert alert-info m-5" role="alert" *ngIf="msj">
                                    Categoria creada exitosamente
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>